{{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}


<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="{% static 'accounts/architect.jpg' %}"  alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Hire the best freelancers for any job, online.</b></span> </h1>
    <button class="button1">Hire a freelancer</button>
    <button class="button2">Earn money freelancing</button>
    </div>
  </header>
  
  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">
  
  
  
  


{% endblock content %}